
<div class="container text-white ">
<h1>자유게시판</h1>

<table class="table">
  <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
    </tr>
  </thead>

  <tbody>
    <% @freeposts.each do |freepost| %>
      <tr>
        <td><%= link_to freepost.title, freepost %></td>
        <td><%= freepost.username %></td>
        
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새 글 작성', new_freepost_path %>

</div>