@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import "bootstrap";


.navi
{font-family: "Noto Sans KR" ;
font-weight: 700 ;
color: white ; 
}

body {background-color: #566389;}
